body
{
background-color: #2c3f51;
}
.head1
{ text-align: center;
  margin-top:80px;
  color: #fff;
  font-family: arial;
  font-size: 4.5vh;
  font-weight: 400;
  line-height: 1.3;
  
}
.head2
{
    text-align: center;
    color: #fff; 
    font-family: arial;
    font-size: 6.3vh;
    font-weight: 700;
    line-height: 1.3;
}
.para
{ text-align: center;
  font-family: arial;
  font-size: 2vh;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}
.bt-txt
{ text-align: center;
  font-family: arial;
  font-size: 2vh;
  font-weight: 700;
  padding: 15px;
  
}
.btn-primary
{
  background-color: #186ab4  !important;
}